body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: orange;
}

h1{
    font-size: 50px;
    font-family:Impact;
    letter-spacing: 3px;
    color:antiquewhite ;
    text-shadow: 2px 2px 2px rgba(0,0,0,.3);
    white-space: nowrap;
}
.container{
    text-align: center;
}
.btn{
    padding: 50px 80px;
    background-color: white;
    border: none;
    margin: 10px;
    font-size: 30px;
    min-width: 200px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    background-image: url("images/snare.jpg");
    background-size: cover;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
    cursor: pointer;
    text-transform: capitalize;
}
.btn:hover{
    color: green;
}
.btn:active{
    background-size: 105%;
}